.btn {
  cursor: pointer;
  border: none;
  border-radius: 40px;
  font-weight: 700;
}

.btn.orange {
  background-color: #f86600;
  color: white;
}

.btn.sm {
  padding: 5px 10px;
}

.btn.md {
  padding: 12px 16px;
}
